volumes:
  ollama_data:

services:

  #
  # docker-compose build echo-tracker
  # docker-compose build --no-cache echo-tracker
  # docker-compose up -d echo-tracker
  #
  echo-tracker:
    image: abenevaut/echo-tracker:latest
    build:
      context: ./echo-tracker
      dockerfile: Dockerfile.dev
      args:
        COMPOSER_HASH: dac665fdc30fdd8ec78b38b9800061b4150413ff2e3b6f88543c636f7cd84f6db9189d43a81e5503cda447da73c7e5b6
    volumes:
      - ${USERPROFILE:-~}/.npmrc:/root/.npmrc
      - ${USERPROFILE:-~}/.composer:/root/.composer
      - ${USERPROFILE:-~}/.socials.json:/var/task/socials.json
      - ./echo-tracker:/var/task
      - ./laravel-bluesky-client:/var/laravel-bluesky-client
      - ./laravel-discord-client:/var/laravel-discord-client
      - ./laravel-instagram-client:/var/laravel-instagram-client
      - ./laravel-twitch-client:/var/laravel-twitch-client
      - ./laravel-x-client:/var/laravel-x-client

  #
  # docker-compose build ollama-qwen3
  #
  ollama-qwen3:
    image: abenevaut/ollama:qwen3-0.6b
    build:
      context: ollama-qwen3
      dockerfile: Dockerfile
    volumes:
      - ollama_data:/root/.ollama

  lambda-qr:
    image: abenevaut/lambda-qr:latest
    build:
      context: lambda-qr
      dockerfile: Dockerfile
    environment:
      - php_xdebug_log=/var/task/xdebug-errors.log
    volumes:
      - ./lambda-qr:/var/task
