{
    "test": {
        "url": "https://auth.abenevaut.test",
        "Security": {
            "Auth": {
                "auth-id": {
                    "Type": "OAuth2",
                    "Grant Type": "Authorization Code",
                    "Auth URL": "https://auth.abenevaut.test/oauth/authorize",
                    "Token URL": "https://auth.abenevaut.test/oauth/token",
                    "Client ID": "",
                    "Client Secret": ""
                }
            }
        }
    },
    "production": {
        "url": "https://auth.abenevaut.dev",
        "Security": {
            "Auth": {
                "auth-id": {
                    "Type": "OAuth2",
                    "Grant Type": "Authorization Code",
                    "Auth URL": "https://auth.abenevaut.dev/oauth/authorize",
                    "Token URL": "https://auth.abenevaut.dev/oauth/token",
                    "Client ID": "",
                    "Client Secret": ""
                }
            }
        }
    }
}
