parameters:
  editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
  level: max
  paths:
    - src
rules:
  - Tests\Rules\CodeDoesNotContainDumpRule
  - Tests\Rules\ControllersExtendBaseControllerRule
