<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/laravel-asana/tests" />
        <option value="$PROJECT_DIR$/laravel-paypal/tests" />
        <option value="$PROJECT_DIR$/demo-laravel-stripe/tests" />
        <option value="$PROJECT_DIR$/laravel-ohdear/tests" />
        <option value="$PROJECT_DIR$/laravel-stripe/tests" />
        <option value="$PROJECT_DIR$/phpunit-slicer/tests" />
        <option value="$PROJECT_DIR$/laravel-one/tests" />
        <option value="$PROJECT_DIR$/laravel-session/tests" />
        <option value="$PROJECT_DIR$/laravel-infrastructure/tests" />
        <option value="$PROJECT_DIR$/laravel-sentry-handler/tests" />
        <option value="$PROJECT_DIR$/demo-laravel-sentry-handler/tests" />
      </list>
    </option>
  </component>
</project>