name: laravel-one-test

on:
  push:
    branches: [ master ]
    paths:
      - 'laravel-one/**'
  pull_request:
    branches: [ master ]
    paths:
      - 'laravel-one/**'

defaults:
  run:
    working-directory: ./laravel-one

jobs:

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        php_version: [ 83, 84 ]
        include:
          - php_version: 83
            continue-on-error: false
            record_coverage: true
          - php_version: 84
            continue-on-error: true
            record_coverage: false
    concurrency:
      group: laravel-one-test-${{ github.workflow }}-${{ github.ref }}-${{ matrix.php_version }}
      cancel-in-progress: true
    container:
      image: ghcr.io/abenevaut/vapor-ci:php${{ matrix.php_version }}
      env:
        php_xdebug_log: /var/task/xdebug-errors.log
    steps:

      - name: Checkout project
        uses: actions/checkout@v5
        with:
          fetch-depth: 2

      - name: Install PHP extension
        run: docker-php-ext-install exif

      - name: Configure Composer cache
        id: composer-cache
        uses: actions/cache@v5
        with:
          path: laravel-one/vendor
          key: ${{ runner.os }}-node-php_${{ matrix.php_version }}-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-php_${{ matrix.php_version }}-

      - name: Validate Composer.json
        run: composer validate --strict

      - name: Composer install
        if: steps.composer-cache.outputs.cache-hit != 'true'
        run: composer install --optimize-autoloader --no-interaction --prefer-dist

      - name: Web pages cache
        id: web-pages-cache
        uses: actions/cache@v5
        with:
          path: laravel-one/.cache
          key: ${{ runner.os }}-node-php_${{ matrix.php_version }}-web-pages-cache-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-php_${{ matrix.php_version }}-web-pages-cache-

      - name: Run tests
        continue-on-error: ${{ matrix.continue-on-error }}
        run: |
          vendor/bin/phpstan analyse
          vendor/bin/phpcs --standard=PSR12 app
          php laravel-one test

      - name: Send coverage
        if: ${{ matrix.record_coverage }}
        run: codecov -Z -f coverage/clover.xml -F laravel-one
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
