name: vapor-default-publish

on:
  workflow_dispatch:

jobs:

  publish:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        php_version: [ 83, 84, 85 ]
        include:
          - php_version: 83
            latest: false
            release-candidate: false
          - php_version: 84
            latest: false
            release-candidate: false
          - php_version: 85
            latest: true
            release-candidate: false
    concurrency:
      group: vapor-default-release-${{ github.workflow }}-${{ github.ref }}-${{ matrix.php_version }}
      cancel-in-progress: false
    steps:

      - name: Get current date
        id: date
        run: echo "date=$(date '+%Y%m%d')" >> $GITHUB_OUTPUT

      - name: Checkout project
        uses: actions/checkout@v5
        with:
          fetch-depth: 1

      - name: Log to github registry
        run: docker login ghcr.io --username ${DOCKER_USERNAME} --password ${DOCKER_PASSWORD}
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/abenevaut/vapor-default
          tags: |
            type=raw,value=php${{ matrix.php_version }}
            type=raw,value=php${{ matrix.php_version }}-${{ steps.date.outputs.date }}
            type=raw,value=latest,enable=${{ matrix.latest }}
            type=raw,value=release-candidate,enable=${{ matrix.release-candidate }}

      - name: Build and push amd64
        uses: docker/build-push-action@v6
        id: build-amd64
        with:
          context: vapor-default
          platforms: linux/amd64
          push: true
          labels: ${{ steps.meta.outputs.labels }}
          outputs: type=image,name=ghcr.io/abenevaut/vapor-default,push-by-digest=true,name-canonical=true,push=true
          build-args: |
            VAPOR_VERSION=${{ matrix.php_version }}
            TARGETARCH=amd64
            __VAPOR_RUNTIME=docker
            COMPOSER_HASH=c8b085408188070d5f52bcfe4ecfbee5f727afa458b2573b8eaaf77b3419b0bf2768dc67c86944da1544f06fa544fd47

      - name: Build and push arm64
        uses: docker/build-push-action@v6
        id: build-arm64
        with:
          context: vapor-default
          platforms: linux/arm64
          push: true
          labels: ${{ steps.meta.outputs.labels }}
          outputs: type=image,name=ghcr.io/abenevaut/vapor-default,push-by-digest=true,name-canonical=true,push=true
          build-args: |
            VAPOR_VERSION=${{ matrix.php_version }}
            TARGETARCH=arm64
            __VAPOR_RUNTIME=docker-arm
            COMPOSER_HASH=c8b085408188070d5f52bcfe4ecfbee5f727afa458b2573b8eaaf77b3419b0bf2768dc67c86944da1544f06fa544fd47

      - name: Create and push manifest
        run: |
          for tag in $(echo "${{ steps.meta.outputs.tags }}" | tr ',' '\n'); do
            docker buildx imagetools create -t $tag \
              ghcr.io/abenevaut/vapor-default@${{ steps.build-amd64.outputs.digest }} \
              ghcr.io/abenevaut/vapor-default@${{ steps.build-arm64.outputs.digest }}
          done
