name: vapor-ci-test

on:
  pull_request:
    branches: [ master ]
    paths:
      - 'vapor-ci/**'

defaults:
  run:
    working-directory: ./vapor-ci

jobs:

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php_version: [ 83, 84, 85 ]
    concurrency:
      group: vapor-ci-test-${{ github.workflow }}-${{ github.ref }}-${{ matrix.php_version }}
      cancel-in-progress: true
    steps:

    - name: Checkout project
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - uses: actions/cache@v5
      with:
        path: vapor-ci/vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gems-

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.7

    - run: |
        bundle config path vendor/bundle
        bundle install --jobs 4 --retry 3

    - run: |
        bundle exec rubocop
        bundle exec rspec
      env:
        VAPOR_DEFAULT_VERSION: ${{ matrix.php_version }}
        COMPOSER_HASH: c8b085408188070d5f52bcfe4ecfbee5f727afa458b2573b8eaaf77b3419b0bf2768dc67c86944da1544f06fa544fd47
        COMPOSE_DOCKER_CLI_BUILD: 1
        DOCKER_BUILDKIT: 1
